
div:empty {
	display: none;
}

.container {
	font-family: Roboto, Arial, sans-serif;
	width: 500px;
	overflow: hidden;
}

.teamContainer {
	background-color: #e6f2ff;
	width: 500px;
	overflow: hidden;
}

.teamName {
	background-color: #e6f2ff;
	width: 225px;
	box-align: left;
	float: left;
	font-size: 13px;
}

.teamScores {
	background-color: #e6f2ff;
	width: 275px;
	float: left;
	font-size: 13px;
}

.teamQtrScores {
	background-color: #e6f2ff;
	width: 22px;
	text-align: center;
	float: left;
	font-size: 13px;
}

.teamFinalScores {
	background-color: #e6f2ff;
	width: 50px;
	text-align: center;
	float: left;
	font-size: 13px;
}

.headerLine {
	background-color: #ffe6e6;
	width: 500px;
	box-align: left;
	float: left;
	font-size: 11px;
    font-family: Roboto, Arial, sans-serif;

}

.venue {
	background-color: #ffe6e6;
	width: 500px;
	box-align: left;
	float: left;
	font-size: 11px;
}

.quarterHeaders {
	background-color: #ffe6e6;
	width: 22px;
	text-align: center;
	float: left;
	font-size: 10px;
}

.finalHeader {
	background-color: #ffe6e6;
	width: 50px;
	text-align: right;
	float: left;
	font-size: 10px;
}

.clockAndPeriod {
	background-color: #ffe6e6;
	text-align: left;
	width: 200px;
	box-align: left;
	float: left;
	font-size: 12px;
}

.leaders {
	background-color: #ffffcc;
	text-align: left;
	width: 500px;
	box-align: left;
	float: left;
	font-size: 12px;
}

.headline {
	background-color: #ffe6e6;
	text-align: left;
	width: 500px;
	box-align: left;
	float: left;
	font-size: 12px;
}

.links {
	background-color: #ffe6e6;
	text-align: left;
	width: 300px;
	box-align: left;
	float: left;
	font-size: 12px;
    overflow: hidden;
}

.televisionContainer {
	background-color: #EDF6F1;
	width: 500px;
	overflow: hidden;
}

.television {
	background-color: #EDF6F1;
	text-align: left;
	width: 166px;
	box-align: left;
	float: left;
	font-size: 12px;

}