<ul *ngFor="let event of data.events; index as i">
  <div class="container">
    <div class="headerLine">
      <span class="venue">
        {{data.events[i].competitions[0].venue.fullName}} - {{data.events[i].competitions[0].venue.address.city}},
        {{data.events[i].competitions[0].venue.address.state}}
      </span>
    </div>
    <div class="teamContainer">
      <span class="teamName">
        {{data.events[i].competitions[0].competitors[1].team.location}}
        {{data.events[i].competitions[0].competitors[1].team.name}}
        ({{data.events[i].competitions[0].competitors[1].records[0].summary}})
      </span>
      <span *ngIf="data.events[i].competitions[0].competitors[1].linescores">
        <span *ngIf="data.events[i].competitions[0].competitors[1].linescores[0]" class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[1].linescores[0].value}}
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[1].linescores[1]" class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[1].linescores[1].value}}
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[1].linescores[2]" class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[1].linescores[2].value}}
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[1].linescores[3]" class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[1].linescores[3].value}}
        </span>
        <span class="teamFinalScores">
          {{data.events[i].competitions[0].competitors[1].score}}
        </span>
      </span>
    </div>
    <div class="teamContainer">
        <span class="teamName">
        {{data.events[i].competitions[0].competitors[0].team.location}}
        {{data.events[i].competitions[0].competitors[0].team.name}}
        ({{data.events[i].competitions[0].competitors[0].records[0].summary}})
      </span>
      <span *ngIf="data.events[i].competitions[0].competitors[1].linescores">
        <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[0]" class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[0].linescores[0].value}}
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[1]" class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[0].linescores[1].value}}
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[2]" class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[0].linescores[2].value}}
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[3]" class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[0].linescores[3].value}}
        </span>
        <span class="teamFinalScores">
          {{data.events[i].competitions[0].competitors[0].score}}
        </span>
      </span>
    </div>
    <div>
        <span class="clockAndPeriod">
            {{data.events[i].status.type.detail}}
        </span>
    </div>
    <div class="links">
        <div *ngIf="data.events[i].links">
          <a href="{{data.events[i].links[0].href}}">ESPN GameCast</a>
          <span *ngIf="data.events[i].links[1]"> /<a href="{{data.events[i].links[1].href}}"> Box Score</a></span>
          <span *ngIf="data.events[i].links[3]"> /<a href="{{data.events[i].links[3].href}}">Play By Play</a></span>
          <span *ngIf=event.links[4]> / <a href="{{data.events[i].links[4].href}}">Recap</a></span>
        </div>
      </div>

<div *ngIf="data.events[i].competitions[0].leaders">
    <div class="leaders">
        <b>LEADERS</b><br>
      <b>{{data.events[i].competitions[0].leaders[0].shortDisplayName}}: </b>
     {{data.events[i].competitions[0].leaders[0].leaders[0].athlete.fullName}}
      {{data.events[i].competitions[0].leaders[0].leaders[0].displayValue}}<br>
      <b>{{data.events[i].competitions[0].leaders[1].shortDisplayName}}: </b>
      {{data.events[i].competitions[0].leaders[1].leaders[0].athlete.fullName}}
      {{data.events[i].competitions[0].leaders[1].leaders[0].displayValue}}<br>
      <b>{{data.events[i].competitions[0].leaders[2].shortDisplayName}}: </b>
      {{data.events[i].competitions[0].leaders[2].leaders[0].athlete.fullName}}
      {{data.events[i].competitions[0].leaders[2].leaders[0].displayValue}}<br>
    </div>
  </div>

  </div>
</ul>
